img {
    width: 100%;
    height: 100%;
}

.container-fuild {
    position: relative;
    text-align: center;
}

.heading {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width:900px) {
    .card {
        width: 260px !important;
    }
}

@media only screen and (max-width:780px) {
    .card {
        width: 100% !important;
    }
}

@media only screen and (max-width:600px) {
    .display-3 {
        font-size: 2.5rem !important;
    }
    .heading {
        top: 65%;
    }
    .container-fuild img {
        height: 200px;
    }
    .header {
        font-size: 2.2rem !important;
    }
}

.display-3 {
    color: white;
}

.bottom-border {
    border-bottom: 1px solid black;
}